@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(20.46% 0 0);
  --color-muted: oklch(33.29% 0 0);
  --color-muted-foreground: oklch(82.34% 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: oklch(20.46% 0 0);
    --color-foreground: oklch(100% 0 0);
    --color-muted: oklch(25.07% 0 0);
    --color-muted-foreground: oklch(73.44% 0 0);
  }
}

body {
  @apply bg-background text-foreground font-sans antialiased;
}

.scrollbar {
  @apply scrollbar-thin scrollbar-thumb-foreground scrollbar-track-muted;
}
