@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(20.46% 0 0);
  --color-muted: oklch(33.29% 0 0);
  --color-muted-foreground: oklch(82.34% 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: oklch(20.46% 0 0);
    --color-foreground: oklch(100% 0 0);
    --color-muted: oklch(82.34% 0 0);
    --color-muted-foreground: oklch(33.29% 0 0);
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
